@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
}

.Nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: rgb(223, 223, 223);
  padding: 10px 30px;
  align-items: center;
  color: crimson;
}

.Nav ul {
  display: flex;
  list-style: none;
}

.Nav ul li {
  margin: 0 5px;
  color: black;
}

.Nav ul li a {
  text-decoration: none;
  font: weight 500;
  color: black;
}

.Nav ul li a:hover {
  color: crimson;
}

.components {
  width: 100%;
  padding: 30px;
  color: rgb(41, 41, 41);
}

.card {
  width: 400px;
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.card h5 {
  color: crimson;
}

.card a {
  text-decoration: none;
  color: rgb(41, 41, 41);
}

.card:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.det {
  margin: auto;
  text-align: center;
  width: 400px;
}

.det h2 {
  color: crimson;
  margin-bottom: 20px;
}

.det button {
  padding: 3px 20px;
  color: aliceblue;
  outline: none;
  border: none;
  border-radius: 3px;
  margin: 10px;
  cursor: pointer;
}

.hapus {
  background-color: crimson;
}

.edit {
  background-color: darkorange;
}

.formTambah {
  text-align: center;
  width: 400px;
  margin: auto;
  margin-bottom: 20px;
}

.formTambah label {
  display: block;
  font-size: 16px;
  font-weight: 600;
  margin: 10px auto;
}

.formTambah input,
textarea {
  width: 100%;
  padding: 5px 10px;
  outline: none;
  border-radius: 5px;
  border: 2px solid gray;
  font-family: "Nunito", sans-serif;
}

.formTambah button {
  padding: 5px 20px;
  color: aliceblue;
  outline: none;
  border: none;
  border-radius: 3px;
  margin: 10px;
  cursor: pointer;
  background-color: teal;
}
